# INTEGRATION TESTS
TEST_OUTBOXLIB_ENV=testing
TEST_OUTBOXLIB_LOG_LEVEL=info
#TEST_OUTBOXLIB_BASE_PATH=

### PGSQL
TEST_OUTBOXLIB_PSQL_ADDRESS=integration-postgres-tests
TEST_OUTBOXLIB_PSQL_PORT=5432
TEST_OUTBOXLIB_PSQL_ADDRESS_LOCAL=localhost
TEST_OUTBOXLIB_PSQL_PORT_LOCAL=54325
TEST_OUTBOXLIB_PSQL_USERNAME=tests-service
TEST_OUTBOXLIB_PSQL_PASSWORD=tests-service
TEST_OUTBOXLIB_PSQL_DATABASENAME=tests-db-pgsql
TEST_OUTBOXLIB_PSQL_DEBUG=false

### MYSQL
TEST_OUTBOXLIB_MYSQL_ADDRESS=integration-mysql-tests
TEST_OUTBOXLIB_MYSQL_PORT=3306
TEST_OUTBOXLIB_MYSQL_ADDRESS_LOCAL=127.0.0.1
TEST_OUTBOXLIB_MYSQL_PORT_LOCAL=33306
TEST_OUTBOXLIB_MYSQL_USERNAME=root
TEST_OUTBOXLIB_MYSQL_PASSWORD=tests-service
TEST_OUTBOXLIB_MYSQL_DATABASENAME=tests-db-mysql

### PICODATA
TEST_OUTBOXLIB_PICODATA_PG_SSL=false
TEST_OUTBOXLIB_PICODATA_ADMIN_PASSWORD=passWord!123
TEST_OUTBOXLIB_PICODATA_DSN=postgres://admin:passWord!123@localhost:5049?sslmode=disable
